body {
    font-family: Arial, sans-serif;
}

#calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fc0000;
    border-radius: 5px;
    background-color: #ff7b00;
}
 
